.homepage-body {
    background-image: url('../images/company_image.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#homepage-text {
    font-size: xx-large;
    padding-left: 5%;
    padding-top: 5%;
}

/*

.linee-prodotti {
    margin-left: 10%;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "linea-prodotto-1 linea-prodotto-2"
        "linea-prodotto-3 linea-prodotto-4";
}

#linea-prodotto-1 {
    grid-area: prodotto-1;
}
#linea-prodotto-2 {
    grid-area: prodotto-2;
}
#linea-prodotto-3 {
    grid-area: prodotto-3;
}
#linea-prodotto-4 {
    grid-area: prodotto-4;
}
*/

@media screen and (max-width: 850px) {
/*
    .linee-prodotti {
        margin-left: 1%;
        width: 98%;
        grid-template-areas:
            "prodotto-1"
            "prodotto-2"
            "prodotto-3"
            "prodotto-4";
    } */
    
}