body {
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: space-evenly;
    background-color: #00a3ff;
    gap: 5%;
}

nav a {
    color: white;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    flex-grow: 1;
    padding-top: 30px;
}

@media screen and (max-width: 850px) {
    nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-content: space-evenly;
        background-color: #00a3ff;
        gap: 5%;
    }
}