.homepage-body {
    background-image: url('../images/company_image.jpg') !important;
    background-size: auto;
    background-repeat: no-repeat;
}

#homepage-text {
    font-size: xx-large;
    padding-left: 5%;
    padding-top: 5%;
}

.section-contentful {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.lista-prodotti {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "prodotto-1"
        "prodotto-2";
}

.prodotto-1 {
    grid-area: prodotto-1;
}

.prodotto-2 {
    grid-area: prodotto-2;
}

.prodotto {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: space-evenly;
}

.prodotto-img {
    text-align: center;
    max-width: fit-content;
}

.prodotto-img img {
    width: 350px;
}

.prodotto-descr {
    font-size: large;
}

.prodotto-descr th {
    font-size: larger;
}

.eco {
    color: forestgreen;
    text-transform: uppercase;
}

.linee-prodotti {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "linea-prodotto-1 linea-prodotto-2"
        "linea-prodotto-3 linea-prodotto-4";
}

.linee-prodotti div {
    text-align: center;
}

#linea-prodotto-1 {
    grid-area: linea-prodotto-1;
}
#linea-prodotto-2 {
    grid-area: linea-prodotto-2;
}
#linea-prodotto-3 {
    grid-area: linea-prodotto-3;
}
#linea-prodotto-4 {
    grid-area: linea-prodotto-4;
}

.immagine-prodotto {
    width: 300px;
}

.company-history {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 20px;
}

.company-history img {
    width: 400px;
}

.text-detail {
    font-size: medium;
    font-style: italic;
}

@media screen and (max-width: 900px) {

    .linee-prodotti {
        margin-left: 15%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "linea-prodotto-1"
            "linea-prodotto-2"
            "linea-prodotto-3"
            "linea-prodotto-4";
    }

    #homepage-text {
        font-size: x-large;
    }

    .company-history {
        flex-wrap: wrap;
    }
}